*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{
    background-color:#F0F0F0;
}

#logo{
    position: fixed;
    left: 50%;
    top:15px;
    margin-left: -35px;
    z-index: 999;
}



